a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0
}

.header {
    display: fixed;
    width: 100%;
    height: 44.28vw;
    background: url(img/BG.png);
}


.head {
    position: fixed;
    padding-left: 40px;
    padding-right: 20px;
    margin: 0 10.2%;
    width: 1523px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
}

.logo {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 1.82vw;
    line-height: 65px;
    color: #000000;
}

.menu {
    display: flex;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 0.95vw;
    line-height: 31px;
    color: #000000;
}

.main {
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.rec {
    margin-left: 10.2%;
    display: flex;
    flex-direction: column;
    background-color: fff;
    width: 45%;
    height: 19.1vw;
    margin-top: 25.4%;
}

.rtext1 {
    margin-bottom: 10px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 1.45vw;
    line-height: 38px;
    padding-left: 94px;
    padding-top: 76px;
    color: #000000;
}

.rtext2 {
    margin-top: 20px;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 6.66vw;
    line-height: 173px;
    padding-left: 94px;
    padding-bottom: 117;
    color: #000000;
}

.link1 {
    text-decoration: none;
    transition: text-shadow 0.2s linear;
    margin: 0 50px;
}


.link1:hover {
    text-shadow: 0px 0px 1px black;
}

.b_next {
    width: 12%;
    height: 2.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14.5%;
    margin-top: 1.7vw;
    background: #000000;
    border: 1.5px solid #000000;
    box-sizing: border-box;
}

.b_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 156.7%;
    color: #FFFFFF;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.pic {
    display: flex;
    background: url(img/img1.png);
    margin-left: 10.2%;
    margin-top: 8.85vw;
    width: 610px;
    height: 727px;

}

.text_block {
    margin-right: 10.2%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}



.d_next {
    width: 233px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background: #fff;
    border: 1.5px solid black;
    box-sizing: border-box;
}

.d_text {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.6px;
    line-height: 156.7%;
    color: black;
}

.sher {
    display: flex;
    align-items: center;
    margin-top: 7%;
}

.carousel slide {
    display: flex;
    margin-right: 10.2%;
    margin-top: 8.85vw;
    width: 610px;
    height: 727px;

}

.text2 {
    width: 716px;
    margin-top: 2%;
    display: flex;
    margin-right: 15.1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.6px;
    line-height: 156.7%;
}

.text1 {
    padding-bottom: 0;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 58.5px;
    line-height: 79px;
    color: #000000;
}

.b_text2 {
    width: 610px;
    margin-top: 2%;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.6px;
    line-height: 156.7%;
}

.b_text1 {
    padding-bottom: 0;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 58.5px;
    line-height: 79px;
    color: #000000;
}

.text_block2 {
    margin-right: 200px;
    margin-left: 10.2%;
    display: flex;
    flex-direction: column;
}
